main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
    width: 100%; 
    color: #850000;
}

.home-container{
    background: url(../img/pizzaria\ -\ home.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.titulo-container{
    padding-top: 15rem;
    padding-left: 5rem;
    z-index: 1;
    color: #CA3C27;
    font-size: 4vh;
}

.titulo-container span{
    color: #ffff;
}

.button-one{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding-top: 50vh;
    padding-right: 10vh;
  
}

.button-promocoes{
    z-index: 1;
    width: 22vh;
    height: 10vh;
    font-size: 1.5rem;
    background-color: #850000;
    color: #ffff;
    border-radius: 5vh;
    border-color: #850000;
    
}

section{
    position: static;
    height: 100vh;
    width: 100%;
}

.img-home{
   height: 100%;
   width: 100%;
}

.title-promoções{
    padding-top: 2rem;
    margin-top: 10rem;
}
 
.Promoções-container{
    background-color: #FFEDCE;
    text-align: center;
    font-size: 5vh;
}

.title-cardápio{
    margin-top: 10rem;
}


.Cardápio-container{
    background-color: #FFEDCE;
    text-align: center;
    font-size: 5vh;
}

.title-serviços{
     margin-top: 10rem;
}

.Serviços-container{
    background-color: #FFEDCE;
    text-align: center;
    font-size: 5vh;

}

.whatsaap{
    background-color: #D0311C;
    padding: 2vh;
    border-radius: 10vh;
   
}

.Contatos-container{
    display: flex;
    flex-direction: column;
    background-color: #FFEDCE;
    text-align: center;
    font-size: 5vh;
    align-items: center;
}

.servicos-container{
    padding-top: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}


fieldset{
    border: 5vh;
}

.title-contatos{
    margin-top: 10rem;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #850000;
    background-position: center;
    height: 60vh; 
    width: 50vw;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
    border-radius: 5vh;
    font-size: 2rem;
    
}

.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-container input {
    width: 100%;
}

.Sugestões input {
    padding: 100px 0;
}

input,select{
    border-radius: 5vh;
}

 label{
    height: 5vh;
    width: 4vh;
}

input{
    height: 5vh;
    width: 20vh;
    border-radius: 5vh;
    align-items: center;
    font-size: 3vh;
}

.call-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.telefone input{
    padding-right: 20px;
}

.button-two{
    padding-top: 15px;
}

.button-info{
    width: 300px;
    height: 60px;
    color: #ffff;
    background-color: #850000;
    border-radius: 10px;
    border-color: #850000;
    font-size: 35px;
}